.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 2s linear;
    
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(94, 24, 24);
}

.header {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,218,70,0.8365721288515406) 100%);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(18000deg);
  }
  
}

.site-footer {
  background-color: orange;
  color: white;
}

.login-btn {
  position: absolute;
  left: 0;
  margin-left: 50%;
}
.card-header-text {
  font-weight: 'bolder';
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 5px black;

}
.card-header-text:hover {
  font-weight: 'bolder';
  font-size: 2rem;
  color: black;
  text-shadow: 2px 2px 5px yellow;

}