.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
  margin-right: 10px;
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(63% 87% at 57% 86%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
  margin: -10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 2s linear;
    
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,218,70,0.8365721288515406) 100%);
  margin-left: -10px;
  margin-right: -10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(18000deg);
  }
  
}

.site-footer {
  background-color: orange;
  color: white;
  margin-left: -10px;
  margin-right: -10px;
  
}

.login-btn {
  position: absolute;
  left: 0;
  margin-left: 50%;
}

.card-header-text {
  font-weight: 'bold';
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 5px black;
  

}
.card-header-text:hover {
  font-weight: 'bolder';
  font-size: 2.25rem;
  color: rgb(238, 13, 13);
  text-shadow: 1px 1px 5px white;

}

.subTitleFontStyle {
  font-weight: 700;
  font-size: 1.75rem;
}

.titleFontStyle {
  font-weight: 900;
  font-size: 2.25rem;
}

.largeTitleFontStyle {
  font-size: 3rem;
  font-weight: 900;
}

.smallTitleFontStyle {
  font-size: 1.5rem;
  font-weight: 900;
}

.pFontStyle {
  font-size: 1.2rem;
  font-weight: 500;
}

.forSaleListGrid {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px;
  padding: 10px;
}
.forSaleCard {
  width: 22rem;
}

.flex1 {
justify-content: flex-start;
}

.flex-items {
  width: 90px;
  height: 60px;
  margin: 10px;
}

.forSaleCardCol {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.forSaleContainers {
 padding: 10px;
 margin: 0 auto;
}

.slideInput {
  color: red;
  text-shadow: blue;
}

.disclaimer {
  color: red;
  font-weight: 900;
  font-size: large;
}

.textColorAnimation {
  text-transform: uppercase;
  background-image: linear-gradient(to right , #f00,white,blue);
  /* Both background clips added to support Safari versions */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: animate 20s linear infinite;
  background-size: 500%;
}

@keyframes animate
{
  0%
  {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.banner {
  width: 100vw;
  height: 15vh;
}
.bannerH2 {
  position: relative;
  font-weight: 900;
  color: blue;
  bottom: 40px;
  z-index: 100;
  
}
.top {
  top: 40px;
  padding: 5px;
  margin: 10px;
  font-weight: 500;
  font-size: x-large;
  color: white;
  background: rgb(0, 0, 0);
  border-radius: 80px;
  position: relative;
}
.top:active {
  color: rgb(7, 38, 73);
}

/* Tables */
.tableTitle {
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}
.tableSubtitle {
  text-align: right;
  margin: auto;
}
.tableData {
  text-align: left;
  margin: auto;
}
.tableDataCenter {
  margin: 20px;
}

.pp2H1 {
  color: #444444;
  background: #FFFFFF;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

/* React Image Slide */
.slider{
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.image {
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 25%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: .5s;
}